/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Body */
  body {
    max-width: 100%;
    height: 100%;
    padding: 10px 0px 0px 0px; 
    background-color: #ffffff;
    font-family: sans-serif;
  }