/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Body */
  body {
    max-width: 100%;
    height: 100%;
    padding: 10px 0px 0px 0px; 
    background-color: #ffffff;
    font-family: sans-serif;
  }

  /* Header */
  .header {
    max-width: 100%;
    
    padding: 10px;
  }

    /* nav  */
    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 300px;
      }
      
      /* Logo image */
      .logo {
        height: 40px;
      }
      
      /* Language Button */
      .language-btn {
        display: flex;
        align-items: center;
        gap: 6px;
        background-color: rgb(255, 255, 255); 
        border: 2px solid transparent;
        color: darkgray;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        padding: 6px 12px;
      }
    
      /* Arrow image */
      .language-arrow {
        width: 12px;
        height: auto;
      }

        /* Hero */

.hero {
    max-width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
  }
  
  .hero-img {
    height: 500px;
  }
  
.hero-text {
    max-width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
  }

  .hero-text h1 {
    color:rgb(75, 75, 75);
    font-size: 32px;
    font-weight: 700px;
    font-family: din-round, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68b631;
    color: #ffffff;
    font-weight: bolder;
    height: 50px;
    border-radius: 8px;
    box-shadow:0px 3px darkgreen;
  }
  
  
    
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
    color: rgb(28, 176, 246);
    font-weight: bolder;
    height: 50px;
    border-radius: 8px;
    box-shadow:1px 1px 4px 1px lightgray;
  }

  .flags {
    border-top:2px solid rgb(229, 229, 229);
    border-bottom:2px solid rgb(229, 229, 229);
    
  }
  .flags-list li,
  .flags-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    
    
  }
  
  .flags-list {
    padding: 10px 20px 10px 20px;
    overflow: scroll;
    
  }
  
  .flags-list::-webkit-scrollbar {
    display: none;
  }
  
  .flags-list li{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    color: rgb(119, 119, 119);
  
  }
  
  .flags-list img {
    height: 30px;
    width: 40px;
  }